* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px;
    background-color: #eee;
    position: relative;
}

.accordion::after {
    content: '+';
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
    border-radius: 50%;
    background-color: #000;
    color: #eee;
    padding: 5px 25px;
    font-size: 3rem;
}

.accordion-title {
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px 15px;
}

.accordion-content {
    background-color: rgb(226, 191, 149);
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    max-width: 700px;
    position: relative;
}

.content-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.9;
    position: relative;
    border-bottom: 2px solid #000;
}

.accordion .content-container.question {
    padding: 10px;
    font-size: 20px;
    position: relative;
    transition: .3s;
}

.question>h3 {
    cursor: pointer;
}



.question::after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 3rem;
    font-weight: 100;
}

.accordion .content-container .answer {
    width: 100%;
    line-height: 1.5;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.accordion .content-container.show .answer {
    height: 100px;
    padding-top: 20px;
    cursor: pointer;
}

.accordion .content-container.show .question {
    transform: scale(.98);
    transition: .3s;
}

.accordion .content-container.show .question::after {
    content: '-';
    font-size: 3rem;
}